<nav class="navbar navbar-inverbtn btn-outline-success my-2 my-sm-0se bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#"><span><img src="assets/img/logo.jpg" alt="logo" id="logo"></span></a>
  <a href="#" id="title">Knowledge Hub</a>
  <button class="btn btn-primary my-2 my-sm-0" type="submit">Log out</button>
</nav>